doctype html
html
  head
    meta(charset='utf-8')
    title myapp
    link(rel="stylesheet", href="./css/iconfont.css")
    link(rel="stylesheet", href="./css/app.css")
    script(type='text/javascript', src='./js/bundle.js')
  body
    h1 hello world!
    img(src='images/butters.gif', alt='')
    .s.s-search
